@page
@model Proyecto1.Pages.personajesModel
@{
}
<div class="card">
	<div class="card-header bg-primary text-white d-flex justify-content-between">
		<h3>Listado de Personajes</h3>
		<a asp-page="/nuevo-personaje" class="btn btn-success"><i class="bi bi-person-plus-fill"></i> Nuevo Personaje</a>
	</div>
	<div class="card-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Fecha de Nacimiento</th>
					<th>Categoria</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var personaje in Model.Personajes)
				{
					<tr>
					<td>@personaje.Id</td>
					<td>@personaje.Nombre
					<td>@personaje.FechaNacimiento</td>
					<td>@personaje.Categoria</td>
					<td>
						<a asp-page="/editar-personaje" asp-route-id="@personaje.Id" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
						<a asp-page="/eliminar-personaje" asp-route-id="@personaje.Id" class=" btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
					</td>
				</tr>
				}

			</tbody>
		</table>
	</div>
</div>